# Association
## Apriori Algorithm
Suppose we have transactions based on users' ratings for movies. A transaction of movies is considered as the set of movies that a user has highly rated. An association rule is a statement of the form A -> B, where A and B are itemsets. 
- Support of A -> B = |AB|
- confidence of A -> B = |AB|/|A|

In [1]:
import pandas as pd
import numpy as np
import csv
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
movies_df = pd.read_csv('ml-latest-small/movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings_df = pd.read_csv('ml-latest-small/ratings.csv')
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
print('There are', ratings_df['userId'].nunique(), 'users that have given', len(ratings_df), 'ratings consisting of', len(movies_df), 'movies')

There are 610 users that have given 100836 ratings consisting of 9742 movies

In [5]:
# merge dataframe to show what users have rated movies
movie_ratings_df = pd.merge(ratings_df, movies_df, on='movieId')
movie_ratings_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [6]:
# Pivot the dataframe to show userId's on the left hand side of the matrix (key of each row) and movies to be 
# the key of columns
movie_ratings_df = pd.merge(ratings_df, movies_df, on='movieId' )
movie_ratings_df.head()
movie_user_ratings_df = pd.pivot_table(movie_ratings_df, index='userId', columns='title', values='rating')
# once pivoted, axis: {0=userId row, 1=movieId column}

print('dataset dimensions: ', movie_user_ratings_df.shape)
print('Subset example:')
movie_user_ratings_df.iloc[:10, :40]

dataset dimensions:  (610, 9719)
Subset example:

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,"10th Victim, The (La decima vittima) (1965)","11'09""01 - September 11 (2002)",11:14 (2003),"11th Hour, The (2007)",12 Angry Men (1957),12 Angry Men (1997),12 Chairs (1971),12 Chairs (1976),12 Rounds (2009),12 Years a Slave (2013)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Method to sort the matrix by users by applying a column with counts of non-Nan ratings that users made,
# sorting the matrix in descending order by this column, then removing this helper column
def sortByUsers(matrix_df, num_col):
    matrix_df = movie_user_ratings_df.append(matrix_df.count(axis=0), ignore_index=True)
    matrix_sorted_col_df = matrix_df.sort_values(len(matrix_df)-1, axis=1, ascending=False)
    matrix_sorted_col_df = matrix_sorted_col_df.drop(matrix_sorted_col_df.tail(1).index)
    return matrix_sorted_col_df.iloc[:, :num_col]
# Method to sort the matrix by movies by applying a row of total ratings non-Nan that each movie had gotten,
#  sorting the matrix in descending order by this row, then removing this helper row.
def sortByMovies(matrix_df, num_rows):
    matrix_df['total_ratings'] = pd.Series(matrix_df.count(axis=1))
    matrix_sorted_row_df = matrix_df.sort_values('total_ratings', ascending=False)
    matrix_sorted_by_movies = matrix_sorted_row_df.drop(['total_ratings'], axis=1)
    return matrix_sorted_by_movies.iloc[:num_rows, :]

# both methods only output the amount of rows or columns specified

In [8]:
# sort by users then by movies
userSortedMatrix = sortByUsers(movie_user_ratings_df, 100)
movieUserSortedMatrix = sortByMovies(userSortedMatrix, 100)

In [9]:
# Subset of of the first rows and columns that will have the least Nan values
movieUserSortedMatrix.head()

title,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),...,Ocean's Eleven (2001),Willy Wonka & the Chocolate Factory (1971),"Fifth Element, The (1997)",Batman Begins (2005),Home Alone (1990),Ghost (1990),Waterworld (1995),Catch Me If You Can (2002),"Breakfast Club, The (1985)","Bourne Identity, The (2002)"
413,5.0,5.0,5.0,4.0,5.0,5.0,4.0,5.0,5.0,4.0,...,4.0,4.0,5.0,4.5,3.0,3.0,2.0,4.0,5.0,4.0
67,3.5,3.0,2.0,3.5,4.5,5.0,3.5,2.5,3.5,4.0,...,3.5,0.5,3.0,2.5,1.0,2.0,4.0,3.5,3.0,4.5
479,5.0,5.0,4.0,4.5,5.0,4.5,5.0,5.0,4.5,5.0,...,3.5,3.5,3.5,4.0,4.0,3.5,3.0,5.0,3.5,2.0
273,4.5,4.5,5.0,4.0,4.0,3.0,3.5,4.5,4.5,4.0,...,4.0,3.5,4.0,3.5,3.5,NaN,4.0,4.0,4.0,3.5
598,3.5,4.0,5.0,3.0,5.0,5.0,4.0,3.5,4.5,NaN,...,4.0,3.0,4.0,3.0,3.0,2.5,2.5,3.0,3.5,3.0

In [10]:
# All movie titles in the sorted matrix
movieIds = list(movieUserSortedMatrix.columns)
print(movieIds)

['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)', 'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)', 'Matrix, The (1999)', 'Star Wars: Episode IV - A New Hope (1977)', 'Jurassic Park (1993)', 'Braveheart (1995)', 'Terminator 2: Judgment Day (1991)', "Schindler's List (1993)", 'Fight Club (1999)', 'Toy Story (1995)', 'Star Wars: Episode V - The Empire Strikes Back (1980)', 'Usual Suspects, The (1995)', 'American Beauty (1999)', 'Seven (a.k.a. Se7en) (1995)', 'Independence Day (a.k.a. ID4) (1996)', 'Apollo 13 (1995)', 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)', 'Lord of the Rings: The Fellowship of the Ring, The (2001)', 'Star Wars: Episode VI - Return of the Jedi (1983)', 'Godfather, The (1972)', 'Fugitive, The (1993)', 'Batman (1989)', 'Saving Private Ryan (1998)', 'Lord of the Rings: The Two Towers, The (2002)', 'Lord of the Rings: The Return of the King, The (2003)', 'Aladdin (1992)', 'Fargo (1996)', 'Sixth Sense, The (1999)', 'True Lies (1994)', 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 'Lion King, The (1994)', 'Back to the Future (1985)', 'Speed (1994)', 'Shrek (2001)', 'Gladiator (2000)', 'Men in Black (a.k.a. MIB) (1997)', 'Dances with Wolves (1990)', 'Mission: Impossible (1996)', 'Ace Ventura: Pet Detective (1994)', 'Memento (2000)', 'Mask, The (1994)', 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)', 'Dark Knight, The (2008)', 'Alien (1979)', 'Beauty and the Beast (1991)', 'Die Hard (1988)', 'Mrs. Doubtfire (1993)', 'Die Hard: With a Vengeance (1995)', 'Groundhog Day (1993)', 'Inception (2010)', 'Princess Bride, The (1987)', 'Finding Nemo (2003)', 'Good Will Hunting (1997)', 'Titanic (1997)', 'Stargate (1994)', 'Indiana Jones and the Last Crusade (1989)', 'Star Wars: Episode I - The Phantom Menace (1999)', 'Batman Forever (1995)', 'Monty Python and the Holy Grail (1975)', 'Pretty Woman (1990)', 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)', 'Dumb & Dumber (Dumb and Dumber) (1994)', "One Flew Over the Cuckoo's Nest (1975)", 'X-Men (2000)', 'GoldenEye (1995)', 'Monsters, Inc. (2001)', 'Reservoir Dogs (1992)', 'Terminator, The (1984)', 'Kill Bill: Vol. 1 (2003)', 'Eternal Sunshine of the Spotless Mind (2004)', 'American History X (1998)', 'Godfather: Part II, The (1974)', 'Babe (1995)', 'Goodfellas (1990)', 'Aliens (1986)', 'Incredibles, The (2004)', 'Truman Show, The (1998)', 'Blade Runner (1982)', 'Twister (1996)', 'Beautiful Mind, A (2001)', 'Spider-Man (2002)', 'E.T. the Extra-Terrestrial (1982)', 'Rock, The (1996)', 'Austin Powers: The Spy Who Shagged Me (1999)', 'Clockwork Orange, A (1971)', 'Ghostbusters (a.k.a. Ghost Busters) (1984)', "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)", 'Minority Report (2002)', "Ocean's Eleven (2001)", 'Willy Wonka & the Chocolate Factory (1971)', 'Fifth Element, The (1997)', 'Batman Begins (2005)', 'Home Alone (1990)', 'Ghost (1990)', 'Waterworld (1995)', 'Catch Me If You Can (2002)', 'Breakfast Club, The (1985)', 'Bourne Identity, The (2002)']

In [11]:
# Specifying which movies we'll include in the transactions (this could change upon testing)
for movieId in movieIds:
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 0.5, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 1, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 1.5, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 2, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 2.5, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 3, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 3.5, movieId] = '0'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 4, movieId] = '1'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 4.5, movieId] = '1'
    movieUserSortedMatrix.loc[movieUserSortedMatrix[movieId] == 5, movieId] = '1'

In [12]:
movieUserSortedMatrix.head()

title,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),...,Ocean's Eleven (2001),Willy Wonka & the Chocolate Factory (1971),"Fifth Element, The (1997)",Batman Begins (2005),Home Alone (1990),Ghost (1990),Waterworld (1995),Catch Me If You Can (2002),"Breakfast Club, The (1985)","Bourne Identity, The (2002)"
413,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,1,1,1
67,0,0,0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
479,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,0,0,1,0,0
273,1,1,1,1,1,0,0,1,1,1,...,1,0,1,0,0,NaN,1,1,1,0
598,0,1,1,0,1,1,1,0,1,NaN,...,1,0,1,0,0,0,0,0,0,0

In [13]:
# Turn dataframe into a 2D array with 0's and 1's and existing Nan values
unclean_apriori_data = movieUserSortedMatrix.to_numpy()
print(unclean_apriori_data)

[['1' '1' '1' ... '1' '1' '1']
 ['0' '0' '0' ... '0' '0' '1']
 ['1' '1' '1' ... '1' '0' '0']
 ...
 ['1' '1' nan ... '0' '0' nan]
 ['1' '0' '1' ... nan nan '0']
 ['0' '1' '1' ... nan '0' nan]]

In [14]:
data = []
# Iterate through 2D array and create a list of movie titles for each row that had movies with a 1 value.
# Each list will correspond as a transaction in the dataset
for row in unclean_apriori_data:
    movies_in_row = []
    for i in range(len(row)):
        if row[i] == '1':
            movies_in_row.append(movieIds[i])
    if len(movies_in_row) >= 2:
        data.append(movies_in_row)

In [15]:
# All transactions
print(data[:1])

[['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)', 'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)', 'Matrix, The (1999)', 'Star Wars: Episode IV - A New Hope (1977)', 'Jurassic Park (1993)', 'Braveheart (1995)', 'Terminator 2: Judgment Day (1991)', "Schindler's List (1993)", 'Fight Club (1999)', 'Toy Story (1995)', 'Star Wars: Episode V - The Empire Strikes Back (1980)', 'Usual Suspects, The (1995)', 'American Beauty (1999)', 'Seven (a.k.a. Se7en) (1995)', 'Independence Day (a.k.a. ID4) (1996)', 'Apollo 13 (1995)', 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)', 'Lord of the Rings: The Fellowship of the Ring, The (2001)', 'Star Wars: Episode VI - Return of the Jedi (1983)', 'Godfather, The (1972)', 'Fugitive, The (1993)', 'Batman (1989)', 'Saving Private Ryan (1998)', 'Lord of the Rings: The Two Towers, The (2002)', 'Lord of the Rings: The Return of the King, The (2003)', 'Aladdin (1992)', 'Fargo (1996)', 'True Lies (1994)', 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 'Lion King, The (1994)', 'Back to the Future (1985)', 'Speed (1994)', 'Shrek (2001)', 'Gladiator (2000)', 'Men in Black (a.k.a. MIB) (1997)', 'Dances with Wolves (1990)', 'Mission: Impossible (1996)', 'Memento (2000)', 'Mask, The (1994)', 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)', 'Dark Knight, The (2008)', 'Alien (1979)', 'Die Hard (1988)', 'Groundhog Day (1993)', 'Inception (2010)', 'Princess Bride, The (1987)', 'Finding Nemo (2003)', 'Good Will Hunting (1997)', 'Titanic (1997)', 'Indiana Jones and the Last Crusade (1989)', 'Star Wars: Episode I - The Phantom Menace (1999)', 'Monty Python and the Holy Grail (1975)', 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)', "One Flew Over the Cuckoo's Nest (1975)", 'X-Men (2000)', 'Monsters, Inc. (2001)', 'Reservoir Dogs (1992)', 'Terminator, The (1984)', 'Kill Bill: Vol. 1 (2003)', 'Eternal Sunshine of the Spotless Mind (2004)', 'American History X (1998)', 'Godfather: Part II, The (1974)', 'Babe (1995)', 'Goodfellas (1990)', 'Aliens (1986)', 'Incredibles, The (2004)', 'Truman Show, The (1998)', 'Blade Runner (1982)', 'Beautiful Mind, A (2001)', 'Spider-Man (2002)', 'E.T. the Extra-Terrestrial (1982)', 'Austin Powers: The Spy Who Shagged Me (1999)', 'Clockwork Orange, A (1971)', 'Ghostbusters (a.k.a. Ghost Busters) (1984)', "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)", 'Minority Report (2002)', "Ocean's Eleven (2001)", 'Willy Wonka & the Chocolate Factory (1971)', 'Fifth Element, The (1997)', 'Batman Begins (2005)', 'Catch Me If You Can (2002)', 'Breakfast Club, The (1985)', 'Bourne Identity, The (2002)']]

## Transform your data into apriori algorithm

In [16]:
# Use the transaction encoder to turn values into True or False
oht = TransactionEncoder()
oht_array = oht.fit(data).transform(data)
favourite_movies_df = pd.DataFrame(oht_array, columns = oht.columns_)
favourite_movies_df.head()

,Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),Aliens (1986),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),Apollo 13 (1995),Austin Powers: The Spy Who Shagged Me (1999),Babe (1995),...,Titanic (1997),Toy Story (1995),True Lies (1994),"Truman Show, The (1998)",Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),"Usual Suspects, The (1995)",Waterworld (1995),Willy Wonka & the Chocolate Factory (1971),X-Men (2000)
0,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,False,True,True
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,True,False,True,False,True
2,False,True,True,True,True,True,True,False,True,True,...,True,False,False,True,True,False,False,False,False,True
3,True,True,True,True,False,True,True,False,True,True,...,False,True,True,True,True,False,True,True,False,False
4,False,False,True,True,True,True,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [17]:
# Apply the apriori algoithm from mlxtend (shown in tutorial) to generate frequent itemsets
from mlxtend.frequent_patterns import apriori

# The min_support can change with testing
frequent_itemsets = apriori(favourite_movies_df, min_support=0.4, use_colnames=True)
pd.set_option('max_colwidth', 1500)
pd.set_option("max_rows", None)
frequent_itemsets.head(10)

   support                                                itemsets
0     0.40                                        (Aladdin (1992))
1     0.53                                          (Alien (1979))
2     0.40                                         (Aliens (1986))
3     0.41  (Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001))
4     0.62                                (American Beauty (1999))
5     0.47                             (American History X (1998))
6     0.54                             (Back to the Future (1985))
7     0.40                                  (Batman Begins (2005))
8     0.41                                   (Blade Runner (1982))
9     0.40                           (Bourne Identity, The (2002))

In [18]:
# Extract association rules by specifying min_threshold (that can change with testing)
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)
rule_results = rules[['antecedents', 'consequents', 'support', 'confidence']]
rule_results.head(100)

,antecedents,consequents,support,confidence
0,(Alien (1979)),(Fight Club (1999)),0.42,0.792453
1,(Alien (1979)),"(Godfather, The (1972))",0.41,0.773585
2,(Alien (1979)),"(Matrix, The (1999))",0.46,0.867925
3,(Alien (1979)),(Pulp Fiction (1994)),0.47,0.886792
4,(Reservoir Dogs (1992)),(Alien (1979)),0.40,0.714286
5,(Alien (1979)),(Reservoir Dogs (1992)),0.40,0.754717
6,(Alien (1979)),"(Silence of the Lambs, The (1991))",0.43,0.811321
7,(Alien (1979)),(Star Wars: Episode IV - A New Hope (1977)),0.42,0.792453
8,(Alien (1979)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.42,0.792453
9,(Fargo (1996)),(American Beauty (1999)),0.41,0.745455
10,(American Beauty (1999)),(Fight Club (1999)),0.51,0.822581
11,(Fight Club (1999)),(American Beauty (1999)),0.51,0.728571
12,(American Beauty (1999)),(Forrest Gump (1994)),0.44,0.709677
13,(American Beauty (1999)),"(Godfather, The (1972))",0.47,0.758065
14,"(Godfather, The (1972))",(American Beauty (1999)),0.47,0.701493
15,(American Beauty (1999)),"(Matrix, The (1999))",0.51,0.822581
16,(Memento (2000)),(American Beauty (1999)),0.40,0.701754
17,(American Beauty (1999)),(Pulp Fiction (1994)),0.54,0.870968
18,(Reservoir Dogs (1992)),(American Beauty (1999)),0.41,0.732143
19,(American Beauty (1999)),"(Silence of the Lambs, The (1991))",0.46,0.741935
20,(American Beauty (1999)),(Star Wars: Episode IV - A New Hope (1977)),0.48,0.774194
21,(American Beauty (1999)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.49,0.790323
22,"(Usual Suspects, The (1995))",(American Beauty (1999)),0.43,0.728814
23,(American History X (1998)),(Fight Club (1999)),0.42,0.893617
24,(American History X (1998)),(Pulp Fiction (1994)),0.44,0.936170
25,(Back to the Future (1985)),(Forrest Gump (1994)),0.41,0.759259
26,(Back to the Future (1985)),(Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)),0.41,0.759259
27,(Back to the Future (1985)),(Star Wars: Episode IV - A New Hope (1977)),0.46,0.851852
28,(Back to the Future (1985)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.46,0.851852
29,(Back to the Future (1985)),(Star Wars: Episode VI - Return of the Jedi (1983)),0.43,0.796296
30,(Braveheart (1995)),"(Matrix, The (1999))",0.42,0.857143
31,(Braveheart (1995)),(Pulp Fiction (1994)),0.44,0.897959
32,(Braveheart (1995)),(Saving Private Ryan (1998)),0.40,0.816327
33,(Braveheart (1995)),(Star Wars: Episode IV - A New Hope (1977)),0.40,0.816327
34,(Braveheart (1995)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.42,0.857143
35,(Die Hard (1988)),"(Matrix, The (1999))",0.45,0.865385
36,(Die Hard (1988)),(Pulp Fiction (1994)),0.42,0.807692
37,(Die Hard (1988)),(Saving Private Ryan (1998)),0.40,0.769231
38,(Die Hard (1988)),(Star Wars: Episode IV - A New Hope (1977)),0.44,0.846154
39,(Die Hard (1988)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.45,0.865385
40,(Die Hard (1988)),(Star Wars: Episode VI - Return of the Jedi (1983)),0.43,0.826923
41,(Eternal Sunshine of the Spotless Mind (2004)),(Pulp Fiction (1994)),0.41,0.891304
42,(Fargo (1996)),(Fight Club (1999)),0.41,0.745455
43,(Fargo (1996)),"(Godfather, The (1972))",0.42,0.763636
44,(Fargo (1996)),"(Matrix, The (1999))",0.40,0.727273
45,(Fargo (1996)),(Pulp Fiction (1994)),0.49,0.890909
46,(Fargo (1996)),(Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)),0.42,0.763636
47,(Fargo (1996)),"(Shawshank Redemption, The (1994))",0.41,0.745455
48,(Fargo (1996)),"(Silence of the Lambs, The (1991))",0.43,0.781818
49,(Fargo (1996)),(Star Wars: Episode IV - A New Hope (1977)),0.44,0.800000
50,(Fargo (1996)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.44,0.800000
51,(Forrest Gump (1994)),(Fight Club (1999)),0.49,0.710145
52,(Fight Club (1999)),(Forrest Gump (1994)),0.49,0.700000
53,(Fight Club (1999)),"(Godfather, The (1972))",0.51,0.728571
54,"(Godfather, The (1972))",(Fight Club (1999)),0.51,0.761194
55,"(Godfather: Part II, The (1974))",(Fight Club (1999)),0.41,0.773585
56,(Goodfellas (1990)),(Fight Club (1999)),0.40,0.784314
57,(Indiana Jones and the Last Crusade (1989)),(Fight Club (1999)),0.42,0.724138
58,"(Lord of the Rings: The Fellowship of the Ring, The (2001))",(Fight Club (1999)),0.47,0.839286
59,"(Lord of the Rings: The Return of the King, The (2003))",(Fight Club (1999)),0.46,0.793103
60,"(Lord of the Rings: The Two Towers, The (2002))",(Fight Club (1999)),0.40,0.816327
61,"(Matrix, The (1999))",(Fight Club (1999)),0.57,0.750000
62,(Fight Club (1999)),"(Matrix, The (1999))",0.57,0.814286
63,(Memento (2000)),(Fight Club (1999)),0.47,0.824561
64,(Fight Club (1999)),(Pulp Fiction (1994)),0.64,0.914286
65,(Pulp Fiction (1994)),(Fight Club (1999)),0.64,0.810127
66,(Reservoir Dogs (1992)),(Fight Club (1999)),0.46,0.821429
67,(Saving Private Ryan (1998)),(Fight Club (1999)),0.45,0.737705
68,(Fight Club (1999)),(Seven (a.k.a. Se7en) (1995)),0.49,0.700000
69,(Seven (a.k.a. Se7en) (1995)),(Fight Club (1999)),0.49,0.803279
70,(Fight Club (1999)),"(Shawshank Redemption, The (1994))",0.50,0.714286
71,"(Shawshank Redemption, The (1994))",(Fight Club (1999)),0.50,0.746269
72,"(Silence of the Lambs, The (1991))",(Fight Club (1999)),0.52,0.787879
73,(Fight Club (1999)),"(Silence of the Lambs, The (1991))",0.52,0.742857
74,"(Sixth Sense, The (1999))",(Fight Club (1999)),0.44,0.758621
75,(Fight Club (1999)),(Star Wars: Episode IV - A New Hope (1977)),0.53,0.757143
76,(Fight Club (1999)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.54,0.771429
77,(Star Wars: Episode V - The Empire Strikes Back (1980)),(Fight Club (1999)),0.54,0.720000
78,(Toy Story (1995)),(Fight Club (1999)),0.40,0.714286
79,"(Usual Suspects, The (1995))",(Fight Club (1999)),0.49,0.830508
80,(Fight Club (1999)),"(Usual Suspects, The (1995))",0.49,0.700000
81,(Jurassic Park (1993)),(Forrest Gump (1994)),0.40,0.800000
82,"(Lord of the Rings: The Fellowship of the Ring, The (2001))",(Forrest Gump (1994)),0.40,0.714286
83,"(Lord of the Rings: The Return of the King, The (2003))",(Forrest Gump (1994)),0.44,0.758621
84,(Forrest Gump (1994)),"(Matrix, The (1999))",0.56,0.811594
85,"(Matrix, The (1999))",(Forrest Gump (1994)),0.56,0.736842
86,(Memento (2000)),(Forrest Gump (1994)),0.42,0.736842
87,(Forrest Gump (1994)),(Pulp Fiction (1994)),0.56,0.811594
88,(Pulp Fiction (1994)),(Forrest Gump (1994)),0.56,0.708861
89,(Saving Private Ryan (1998)),(Forrest Gump (1994)),0.46,0.754098
90,(Seven (a.k.a. Se7en) (1995)),(Forrest Gump (1994)),0.43,0.704918
91,(Forrest Gump (1994)),"(Shawshank Redemption, The (1994))",0.51,0.739130
92,"(Shawshank Redemption, The (1994))",(Forrest Gump (1994)),0.51,0.761194
93,(Shrek (2001)),(Forrest Gump (1994)),0.41,0.759259
94,(Forrest Gump (1994)),"(Silence of the Lambs, The (1991))",0.49,0.710145
95,"(Silence of the Lambs, The (1991))",(Forrest Gump (1994)),0.49,0.742424
96,"(Sixth Sense, The (1999))",(Forrest Gump (1994)),0.41,0.706897
97,(Forrest Gump (1994)),(Star Wars: Episode IV - A New Hope (1977)),0.52,0.753623
98,(Forrest Gump (1994)),(Star Wars: Episode V - The Empire Strikes Back (1980)),0.53,0.768116
99,(Star Wars: Episode V - The Empire Strikes Back (1980)),(Forrest Gump (1994)),0.53,0.706667